* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(59, 58, 58, 0.866), black);
}

#container {
    background-color: rgba(85, 82, 82, 0.866);
    border-color: white;
    border-radius: 40px;
    height: 55vh;
    padding: 15px;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.5);

}

input {
    width: 180px;
    margin: 10px;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    background-color: rgba(215, 203, 203, 0.819);
    border-radius: 20px;
    border: none;
}



.btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 15px;
    color: white;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 254, 254, 0.256);
}

.equalbtn {
    padding-right: 10px;
    width: 90px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 166, 0);
    font-size: 20px;

}